*{
    margin: 0;
    padding: 0;

    color: #ffffff;

    font-family: "Google Sans Code", monospace;
    font-weight: lighter;
}

body{
    background-color: #12111B;
    width: 100%;
    
    overflow-x:hidden;
    overflow-y: scroll;
}

nav{
    width: 100%;
    background-color: #1d1b2bb6;
    margin: auto;

    box-shadow: 5px 5px 0px #000000;

    padding: 30px;
}

a img{
    margin-top: 12px;
    width: 30px;
}

nav h1, h4{
    color: #ffffffb4;
    margin-top: 12px;
}

h1{
    width: auto;
    height: inherit;
    font-size: 225%;
}

p{
    font-size: 120%;
}

#o-mnie{
    width: 50%;
    margin: auto;
    margin-top: 80px;
}

#ja-img{
    width: 37%;
    margin-right: 10%;
    border-radius: 50%;
    box-shadow: 2px 2px 0px #000000;
    float: left;

    border: solid 5px #000000
}

#ja-text{
    margin-top: 20px;
    width: 50%;
    float: left;
}

hr{
    margin-top: 80px;
    margin-bottom: 80px;
    float: left;
    width: 100%;

    height: 5px;
    border-color: #000000;
}

.tldr{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

    background-color: #29273d;
    float: left;
    border: solid 5px #000000
} 

.tldr h1{
    margin-top: 5%;
    margin-left: 5%;
}

.projekt-tldr{
    
    width: 92%;
    background-color: #1d1b2bb6;
    padding: 5px;
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 2%;
    padding-top: 3%;

    border: solid 3px #000000;
}

.projekt-tldr h2{
    margin-top: 4%;
    margin-left: 5%;
}

.projekt-tldr img{
    width: 40%;
    margin-left: 5%;
    margin-top: 2%;
    border: solid 3px #000000;
}


h2{
    display: inline;
}

h5{
    display: inline;
}


.projekt-tldr p{
    margin-left: 5%;
    margin-top: 2%;
}

.projekt-tldr a{
    margin-left: 5%;
    margin-top: 2%;
    color: darkviolet;
    font-size: larger;
    font-weight: bolder;

    text-align: center;

    width: 150px;

    display: inline;

    font-style: normal;
    text-decoration: none;

    padding: 15px;
    background-color: #12111B;
}





